# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
db.sqlite3-journal

# --- Secretos (CRÍTICO) ---
.env
.venv
env/
venv/
ENV/
env.bak
.env.bak

# --- Docker ---
# Ignoramos los datos persistentes de la DB en local
postgres_data/
saphina_db_data/
*.log

# Ignoramos el override de Windows para que no ensucie el servidor
docker-compose.override.yml
Dockerfile-local
docker-compose-local.yml
# --- Archivos de Medios y Estáticos ---
# En Git solo va el código, no las fotos que sube el cliente
static/
media/
staticfiles/

# --- IDEs y OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db